{{#each this}}
<li class="events-section__item">
    <img src="{{images.[7].url}}" width="180" height="227" alt="{{name}}">
    <p class="card__event-title">{{name}}</p>
    <p class="card__event-date">{{dates.start.localDate}}</p>
    <p class="card__event-place">{{_embedded.venues.[0].name}}</p>
</li>
{{/each}}