<div>
    <img src="{{img-4_3-url}}" width="180" height="227" alt="{{name}}">
    <p class=" cadr__event-title">{{name}}</p>
    <p class="card__event-date">{{dates-start-localDate}}</p>
    <p class="card__event-place">{{venues-name}}</p>
</div>