<div class="modal__overlay"></div>

<div class="modal-content">
    <button
        type="button"
        class="modal__button close"
        data-action="close-modal">
    </button>

    <img class="modal-content__circle-pic" src={{images.[7].url}} alt="{{_embedded.attractions.[0].name}}" height="132px" width="132px"/>

    <div class="modal-content__event-stats">
        <img src={{images.[0].url}} alt="{{_embedded.attractions.[0].name}}" class="modal-content__event-stats__pic-preview" height="640px" width="360px"/>

        <ul class="modal-content__event-stats__event-about stats-list">
            <li class="stats-item info">
                <h3 class="modal-content__event-about__event-title">Info</h3>
                <p class="modal-content__event-about__event-info">{{info}}</p>
            </li>
            <li class="stats-item when">
                <h3 class="modal-content__event-about__event-title">When</h3>
                <p class="modal-content__event-about__event-when-date">{{dates.start.localDate}}</p>
                <p class="modal-content__event-about__event-when-time">{{dates.start.localTime}} ({{dates.timezone}})</p>
            </li>
            <li class="stats-item where">
                <h3 class="modal-content__event-about__event-title">Where</h3>
                <p class="modal-content__event-about__event-where-city">{{_embedded.venues.[0].city.name}}, {{_embedded.venues.[0].country.name}}</p>
                <p class="modal-content__event-about__event-where-place">{{_embedded.venues.[0].name}}</p>
            </li>
            <li class="stats-item who">
                <h3 class="modal-content__event-about__event-title">Who</h3>
                <p class="modal-content__event-about__event-who">{{_embedded.attractions.[0].name}}</p>
            </li>
            <li class="stats-item price">
                <h3 class="modal-content__event-about__event-title price">Prices</h3>
                {{#each priceRanges}}
                    <div class="modal-content__icon--ticket"></div>
                    <p class="modal-content__event-about__event-prices">{{type}} {{min}}-{{max}} {{currency}}</p>
                    <br>
                {{/each}}
                <a href={{url}} class="button modal-content__event-about__button-buy" target="_blank" data-action="buy-tickets">Buy tickets</a>
            </li>
        </ul>
    </div>
        
    <button type="button" class="button modal-content__button-more" data-action="show-more">
      More from this author
    </button>
    <div class="modal-content__event-promoter">
        <p class="modal-content__event-promoter-info">{{promoter.description}}</p>
    </div>
    
</div>