<div class="modal__overlay"></div>


{{!-- ссылки на запросы необходимо уточнить!!!! --}}


<div class="modal-content">
    <button
        type="button"
        class="modal__button"
        data-action="close-modal">
            {{!-- <svg class="modal__icon--close">
              <use href="../images/inline-sprite.svg#icon-close"></use>
            </svg> --}}
    </button>

    <img class="modal-content__circle-pic" src={{images-url-16-9}} alt="" />

    <div class="modal-content__event-stats">
        <img src={{images-url-16-9}} alt="" class="modal-content__event-stats__pic-preview">

        <ul class="modal-content__event-stats__event-about">
            <li>
                <h3 class="modal-content__event-about__event-title">Info</h3>
                <p class="modal-content__event-about__event-info">{{}}</p>
            </li>
            <li>
                <h3 class="modal-content__event-about__event-title">When</h3>
                <p class="modal-content__event-about__event-when-date">{{dates-start-localDate}}</p>
                <p class="modal-content__event-about__event-when-time">{{dates-start-localTime}} {{dates-timezone}}</p>
            </li>
            <li>
                <h3 class="modal-content__event-about__event-title">Where</h3>
                <p class="modal-content__event-about__event-where-city">{{venues-city-name}}, {{venues-country-name}} /</p>
                <p class="modal-content__event-about__event-where-place">{{venues-name}}</p>
            </li>
            <li>
                <h3 class="modal-content__event-about__event-title">Who</h3>
                <p class="modal-content__event-about__event-who">{{attraction-name}}</p>
            </li>
            <li>
                <h3 class="modal-content__event-about__event-title">Prices</h3>
                {{#each priceRanges}}
                    {{!-- <img src="../images/our-images/ticket_mob.png" alt="" class="modal-content__event-about__ticket-pic"> --}}
                    <svg class="modal-content__icon--ticket">
                        <use href="../images/inline-sprite.svg#icon-ticket"></use>
                    </svg>
                    <p class="modal-content__event-about__event-prices">{{type}} {{min}}-{{max}} {{currency}}</p>
                    <a href={{}} class="button modal-content__event-about__button-buy" data-action="buy-tickets">Buy tickets</a>
                    {{/each}}
            </li>
        </ul>
    </div>
        
    <a href={{}} class="button modal-content__button-more" data-action="show-more">More from this author</a>
</div>